@using ViewModel;
@page "/"
@inject ClockViewModel ViemModel;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Reloj Digital ViewModel </h1>
<h2>@ViemModel.CurrentTime</h2
    <input @bind-value ="ViemModel.Name"/>
    <h1> Hola  @ViemModel.Name</h1>

@code{
    protected override void OnInitialized()
    {
        new System.Threading.Timer(t=>
        {
            InvokeAsync(() => StateHasChanged());    
        },null,0,1000);
    }
}
